
@{
    ViewBag.Title = "Home";
}
<br />
<br />
<div class="section-headlines">
    <h4>Singapore Employee Portal</h4>
</div>

<h3>Access Scheduling Program</h3>
<div><a href="#">Assay Scheduling Excel Program&raquo;</a></div>
<br />

