@model Intex.Models.Quote

@{
    ViewBag.Title = "Details";
}
<br />
<br />
<div class="section-headlines">
    <h4>Quote Details</h4>
</div>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuoteAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuoteAmount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuoteID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
