@model Intex.Models.Employee
@{
    ViewBag.Title = "Home";
}
<br />
<br />

<div class="section-headlines">
    <h4>Welcome @Html.Raw(Model.FirstName + " " + Model.LastName)!</h4>
</div>


<div class="media-body">
    <h3>Access Work Orders Here</h3>
    <div><a href="@Url.Action("GetWorkOrders", "Manager", new {  })">Work orders</a></div>
    <br />
    <h3>Access Employees here</h3>
    <div><a href="@Url.Action("EditEmployee", "Manager", new { })">Employee Settings</a></div>
    <br />
    <h3>Add Discount Amount Here</h3>
    <div><a href="@Url.Action("AddDiscount", "Manager", new { })">Add Discounts</a></div>
</div>
