@{
    ViewBag.Title = "Catalog";
}
<head>
    <style type="text/css">

        * {
            margin: 0;
            padding: 0;
        }

        ul {
            list-style-type: none;
            width: 500px;
        }

        h3 {
            font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
        }

        li img {
            float: left;
            margin: 0 15px 0 0;
        }

        li p {
            font: 200 12px/1.5 Georgia, Times New Roman, serif;
        }

        li {
            padding: 10px;
            overflow: auto;
        }

            li:hover {
                background: #eee;
                cursor: pointer;
            }
    </style>
</head>
<br />
<br />
<div class="section-headlines">
    <h4>Catalog - Pharmacological Assays and Tests</h4>

</div>
<div>
    <img src="~/images/Pharma-banner.jpg" width="1140" />
</div>

<div>
    <ul>
        <li>
            <img src="~/images/genericTestTube.jpg" height="100" width="100" />
            <h3>Biochemical Pharmacology® (BP)</h3>
            <p>Dissolve 20 mg in 1 ml of water and add 1 ml of barium chloride (50 g/l) TS; a white precipitate is produced which is practically insoluble in hydrochloric acid (~250 g/l) TS.</p>
        </li>

        <li>
            <img src="~/images/redTest.jpg" height="100" width="100" />
            <h3>DiscoveryScreen® (DS)</h3>
            <p>Shake 5 mg with 1 ml of water, add 1 ml of triketohydrindene/butanol TS and 0.5 ml of pyridine R and heat to 100°C for 5 minutes; a violet colour is produced.</p>
        </li>

        <li>
            <img src="~/images/genericTestTube.jpg" height="100" width="100" />
            <h3>ImmunoScreen® (IS)</h3>
            <p>Dissolve 10 mg in 2 ml of hydrochloric acid (0.1 mol/l) VS and add about 1 ml of iodine TS; the colour of the iodine disappears immediately and a white, turbid solution is produced.</p>
        </li>

        <li>

            <img src="~/images/redTest.jpg" height="100" width="100" />
            <h3>ProfilingScreen® (PF)</h3>
            <p>Dissolve 10 mg in 5 ml of ethanol TS, add 0.5 ml of tetramethylammonium hydroxide/ethanol. Add 0.5 ml of chloride/ethanol TS and shake again; a red colour is produced.</p>
        </li>
        <li>
            <img src="~/images/genericTestTube.jpg" height="100" width="100" />
            <h3>PharmaScreen® (PS)</h3>
            <p>Introduce the test solution into a non-luminous flame using a magnesia stick or a nichrome or platinum wire sealed to a glass rod; the flame acquires an intense yellow colour.</p>
        </li>
        <li>
            <img src="~/images/redTest.jpg" height="100" width="100" />
            <h3>CustomScreen™ (CS)</h3>
            <p>Shake 1 drop vigorously with 5 ml of ethanol (~750 g/l) TS and filter; the filtrate is yellow with a bluish green fluorescence.</p>
        </li>
    </ul>
</div>

<button onclick="goBack()" class="btn btn-default">Go Back</button>

