
@{
    ViewBag.Title = "Index";
}

<h2>Catalog View</h2>
<ul>
    <li>Biochemical Pharmacology (BP)</li>
    <li>DiscoveryScreen® (DS)</li>
    <li>ImmunoScreen® (IS)</li>
    <li>ProfilingScreen® (PF)</li>
    <li>PharmaScreen® (PS)</li>
    <li>CustomScreen™ (CS)</li>
</ul>

