<!---------------------------------------------------------------------------------------------------------------------------------------------------------
    Authors of this ASP.NET Application: Ben Swatling, Kenneth Kuhn. With help and suggestions by Jaxon Moffitt and Jarom Barnes
    Description:

    Welcome to this application! You may be wondering how this sample ASP.NET for Northwest Labs works. I will help you.
    *NOTE: This is only a mock-up of what the future application will be. No confidential information was used or stored in the database or in the project.
           As such, not everything is fully functional. It is intended only for presentation purposes.

    Connection to Database:
        In order to connect to the Azure database, the database admin (Ben) will need to add your IP address.
        Alternativly, the Database Schema file is included in how this project was turned in.

    People to use:
        When Logging in, use these usernames and passwords:
            Customer: Username = kkuhn Password = kkuhn
            Seattle Employee: Username = bswatling Password = bswatling
            Singapore Employee: Username = jbarnes Password = jbarnes
            Manager Login: Username = jmoffitt Password = jmoffitt ***The Manager Section is not yet finished/fully functional

    Online Azure Website Hosted at: https://intex20181204091158.azurewebsites.net/
--------------------------------------------------------------------------------------------------------------------------------------------------------->
@{
    ViewBag.Title = "Home";
}
<head>
    <style>
        input[type=button] {
            background-color: dodgerblue;
            border: none;
            text-decoration: none;
            color: white;
            padding: 20px 20px;
            margin: 20px 20px;
            cursor: pointer;
            border-radius: 25px;
        }

            input[type=button]:hover {
                background-color: cornflowerblue;
            }
    </style>
</head>
<div id="jump1" class="jumper"></div>
<!-- Services -->
<div class="section type-2">
    <div class="container">
        <div class="section-headlines">
            <h4>NorthWest Labs</h4>
            <h3><i>Working together for a healthier world.</i></h3>
            <div class="jumbotron">
                <a href="@Url.Action("GetQuote", "Home")">
                    <input type="button" value="Get Quote" />
                </a>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 features text-center"> <img src="~/images/NWLogo.jpeg" alt="" /> </div>
            <div class="col-lg-6 features">
                <div class="media">
                    <i class=" icon-wrench pull-left animated bounce"></i>
                    <div class="media-body">
                        <h3>Testing</h3>
                        <div>We offer a variety of tests for all types of compounds.</div>
                    </div>
                </div>
                <br class="gap-30" />
                <div class="media">
                    <i class=" icon-bar-chart pull-left animated bounce"></i>
                    <div class="media-body">
                        <h3>Detailed and accurate reports</h3>
                        <div>Any report that we generate will contain everything there is to know and more.</div>
                    </div>
                </div>
                <br class="gap-30" />
                <div class="media">
                    <i class=" icon-mobile-phone pull-left animated bounce"></i>
                    <div class="media-body">
                        <h3>Advanced research techniques</h3>
                        <div>Our research and testing techniques are the most advanced in the industry. Let our experience help you.</div>
                    </div>
                </div>
                <br class="gap-30" />
                <div class="media">
                    <i class=" icon-mobile-phone pull-left animated bounce"></i>
                    <div class="media-body">
                        <h3>Fastest results possible</h3>
                        <div>We deliver accurate results on all types of compounds faster than any of our competitor all while ensuring the best quality.</div>
                    </div>
                </div>
                <div class="visible-xs visible-sm">
                    <br class="gap-30" />
                    <hr class="gap-divider" />
                    <br class="gap-30" />
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-4 features">
                <h3>Our Services</h3>
                <div class="skills">
                    <p>Catalogs</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"> </div>
                    </div>
                    <hr>
                    <p>Testing</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"> </div>
                    </div>
                    <hr>
                    <p>Safety</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"> </div>
                    </div>
                    <hr>
                    <p>FDA Approval</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"> </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 features">
                <div class="panel-group" id="accordion">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> About us <i class="icon-plus"></i> <i class="icon-minus"></i> </a> </h3>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                We are the largest pharmacology company in the world!
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title"> <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> Where we are <i class="icon-plus"></i> <i class="icon-minus"></i> </a> </h3>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                Our different offices can be found in several different countries.
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title"> <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"> Our scope <i class="icon-plus"></i> <i class="icon-minus"></i> </a> </h3>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                With top of the line technology, we process over 10,000 pharmacological assays every year.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="visible-xs visible-sm">
                    <br class="gap-30" />
                    <hr class="gap-divider" />
                    <br class="gap-30" />
                </div>
            </div>
            <div class="col-lg-4 features">
                <h3>Our Mission</h3>
                <p>
                    We provide assay tests to customers with speed and efficiency.
                    <br />
                    <a href="@Url.Action("GetQuote", "Home")"> Enter your information here</a> to be contacted by a member of our team for a  complimentary quote.
                </p>
            </div>
        </div>
    </div>
</div>