
@{
    ViewBag.Title = "InfoSent";
}
<br />
<br />
<div class="section-headlines">
    <h4>Thank you for choosing North West Labs</h4>
</div>

<div class="media-body">
    <h3> Your account has been created and your quote request has been sent!</h3>
    <div> A Sales Representative will contact you within 24 hours with an accurate quote.</div>
</div>

