@model Intex.Models.Customer
@{
    ViewBag.Title = "Home";
}

<br />
<br />
<div class="section-headlines">
    <h4>Customer Portal</h4>
</div>

<h2>Welcome @Html.Raw(Model.FirstName + " " + Model.LastName)!</h2>

<div class="media-body">
    <h3>Check your current orders here</h3>
    <div><a href="@Url.Action("GetCustomerWorkOrder", "CustomerOrder", new { CustID = Model.CustomerID })">My orders</a><!--display list of customer orders? functionality?--></div>
    <br />
    <h3>Change your account settings here</h3>
    <div><a href="@Url.Action("EditCustomer", "CustomerOrder", new {CustID = Model.CustomerID })">Account Settings</a><!--edit customer account?--></div>
</div>

<br />
<button onclick="goBack()" class="btn btn-default">Go Back</button>

