
@{
    ViewBag.Title = "Home";
}
<br />
<br />

<div class="section-headlines">
    <h4>Seattle Employee Portal</h4>
</div>
<div class="media-body">
    <h3>Trying to find a customer?</h3>
    <div><a href="@Url.Action("FindCustomer", "Seattle")">Search customer Information</a></div>
    <br />
    <h3>Searching for a specific work order?</h3>
    <div><a href="@Url.Action("FindWorkOrder", "Seattle")">Search current Work Orders</a></div>
    <br />
    <h3>Create a new quote by clicking here</h3>
    <div><a href="@Url.Action("CreateQuota", "Seattle")">Create Quote</a></div>
    <br />
    <h3>Create a new work order:</h3>
    <div><a href="@Url.Action("NewWorkOrder", "Seattle")">Create Work Order</a></div>
</div>

