
@{
    ViewBag.Title = "QuoteAmount";
}

<h2>Quote Amount: @Html.Raw(ViewBag.Amount)</h2>

<h3>
    Test needed:
</h3>
<ul>
    @Html.Raw(ViewBag.TestsNeeded)
</ul>

<p>
    Please note that we can only give a range of prices. <br />
    This is because of potential secondardy tests that will need to be performed if the compound is active. <br />
    You may also indicate if you would like the secondary tests to be performed whether or not the compound is active or not. <br />
</p>

